* {
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: black;

    margin-top: 1.25rem;
}

input {
    padding: 0.0625rem 0.3125rem;
    margin-bottom: 2.25rem;
    width: 17.5rem;
    height: 1.75rem;

    border-radius: 0.3125rem;
}

input[type=number]:focus {
    outline: none;
    border: 1px solid #74d0ff;
    border-radius: 0.1875rem;
    box-shadow: 0 0 0.625rem rgb(85, 162, 255);
}

button {
    background-color: rgb(38, 119, 218);
    color: white;
    font-size: 1.25rem;
    font-weight: 500;

    margin: 0.15625rem;
    margin-bottom: 2rem;
    padding: 0.75rem 1.875rem;

    border: 0;
    border-radius: 0.15625rem;
}

button:hover {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.7);
}

.container {
    background-color: rgb(217, 212, 212);
    text-align: center;

    margin: auto;
    width: 56.25rem;
    padding: 1.875rem 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 0.3125rem;
}

.calc {
    border-radius: 0.3125rem;
    border-top-right-radius: 0;
    border-end-end-radius: 0;
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.5);

    width: 25rem;
    height: auto;

    background-color: white;
}

.calc-title,
.history-title {
    padding: 2rem;

    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}

.operations {
    display: flex;
    flex-direction: column;

    margin: auto;
    width: 70%;
    align-items: center;
}

.buttons {
    display: flex;
}

.history {
    background-color: black;
    color: white;

    width: 25rem;
    text-align: right;
    padding-right: 1.25rem;

    border-radius: 0.3125rem;
    border-top-left-radius: 0;
    border-end-start-radius: 0;
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.5);
    
}

.last-operations {
    padding: 0.125rem;
}