* {
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: black;

    margin-top: 20px;
}

input {
    padding: 1px 5px;
    margin-bottom: 36px;
    width: 280px;
    height: 28px;

    border-radius: 5px;
}

input[type=number]:focus {
    outline: none;
    border: 1px solid #74d0ff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(85, 162, 255);
}

button {
    background-color: rgb(38, 119, 218);
    color: white;
    font-size: 20px;
    font-weight: 500;

    margin: 2.5px;
    margin-bottom: 32px;
    padding: 12px 30px;

    border: 0;
    border-radius: 2.5px;
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.container {
    background-color: rgb(217, 212, 212);
    text-align: center;

    margin: auto;
    width: 900px;
    padding: 30px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 5px;
}

.calc {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-end-end-radius: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    width: 400px;
    height: auto;

    background-color: white;
}

.calc-title,
.history-title {
    padding: 32px;

    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.operations {
    display: flex;
    flex-direction: column;

    margin: auto;
    width: 70%;
    align-items: center;
}

.buttons {
    display: flex;
}

.history {
    background-color: black;
    color: white;

    width: 400px;
    text-align: right;
    padding-right: 20px;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    
}

.last-operations {
    padding: 2px;
}